@import "~bulmaswatch/superhero/variables"
@import "~bulma/bulma"
@import "~bulmaswatch/superhero/overrides"

.emoji
  font-family: "Noto Color Emoji", "NotoColorEmoji", "Apple Color Emoji", "Segoe UI Emoji",  "Segoe UI Symbol", "Android Emoji", "EmojiSymbols", "OpenSymbol", sans-serif

header
  .nav-left .nav-item
    text-align: left
    line-height: 16px
    font-weight: bold
    .emoji
      font-size: 30px
      line-height: 30px
      margin-right: 5px

#workout-group.panel
  .panel-block
    color: $text-light

  .panel-tabs
    justify-content: space-between
    a
      color: $text
      &.is-active
        color: $primary
        border-bottom-color: $primary